{%  extends "quiz/base.html" %}
        {% block title %}
        	Журнал
        {% endblock %}
{% block body %}
    <table class="blueTable">
        <caption> <h1>Журнал  </h1> <h3>{{ user.first_name }} {{ user.last_name }}</h3> </caption>
	<tbody>
        <tr>
			<td> Ученик </td>
			{% for t in maxLenL %}
				<td> {{t}} </td>
			{% endfor %}
			<td> Верных ответов </td>
		</tr>
    {% for u in jL %}
		<tr>
			<td> {{ u.name }}</td>
            {% for t in u.pl %}
				<td> {{ t }} </td>
			{% endfor %}
            <td> {{ u.corAns}}</td>
		</tr>
    {% endfor %}
    </table>
{% endblock %}
