{%  extends "quiz/base.html" %}
        {% block title %}
        	Work
        {% endblock %}



{% block body %}
        <h1>Задание для  {{ request.user.student }}</h1>
        <h1>Работа  "{{ w.name }}"</h1>

        <form method="post">
            {% csrf_token %}
            {% for task in tasks %}
            	<p>{{ task.number }}) <label for="{{ task.pk }}">{{ task.text }}</label><input name="{{ task.pk }}" type="number" id="{{ task.pk }}"></p>
            {% endfor %}
        <button type="submit">Отправить ответ</button>
        </form>
{% endblock %}
